# App
LOG_LEVEL="INFO"

# NATS
NATS__URL="nats://127.0.0.1:4222"

NATS__KV_BUCKET="pingpal_config"
NATS__KV_KEY_PREFIX="site."
NATS__KV_WATCH_PATTERN="site.*"

NATS__KV_DEL="DEL"
NATS__KV_PURGE="PURGE"

NATS__METRICS_SUBJECT="pingpal.metrics.ingest"
NATS__AGENTS_HEARTBEAT_SUBJECT="pingpal.agents.heartbeat"

# DB
# DATABASE__URL=
DATABASE__USER="pingpal"
# DATABASE__PASSWORD=
DATABASE__NAME="pingpal"
# DATABASE__HOST="127.0.0.1"
DATABASE__PORT=5432

DATABASE__ECHO=True

DATABASE__POOL_SIZE=0 # 0 - no limits
DATABASE__POOL_PRE_PING=True
