# App
LOG_LEVEL="INFO"

# NATS
NATS_URL="nats://127.0.0.1:4222"

# DB
database_url="url"
PINGPAL_DB_USER="pingpal"
PINGPAL_DB_PASSWORD="password"
PINGPAL_DB_HOST="127.0.0.1"
PINGPAL_DB_PORT=5432
PINGPAL_DB_NAME="pingpal"

DB_ECHO=True
